In [21]:
import pandas as pd
pd.options.display.float_format = "{:,.2f}".format  #displays 2 decimal places 
df=pd.read_csv('/home/t/Downloads/A_Manuka_Perth/T4/t4/Tunnel 4_2_data.csv')
df = df.rename(columns={"Datastream Name": "stream", "Time": "time", "Value":"value"})
df.set_index("time")

                           stream  value
time
2021-11-02 16:00:00   Temperature  21.20
2021-11-02 16:00:00      Humidity  25.00
2021-11-02 16:00:00  BeesEntering  16.42
2021-11-02 16:00:00   BeesExiting  15.42
2021-11-02 15:00:00   Temperature  24.20
...                           ...    ...
2021-10-18 19:00:00      Humidity  27.00
2021-10-18 19:00:00        Weight  16.89
2021-10-18 18:00:00   Temperature  21.05
2021-10-18 18:00:00      Humidity  25.00
2021-10-18 18:00:00        Weight  16.60

[1241 rows x 2 columns]

In [22]:
enter_df = df.loc[df['stream'] == 'BeesEntering']
enter_df = enter_df.drop('stream', 1)
enter_df = enter_df.rename(columns={"value":"bees_enter"})
print (enter_df)
enter_df.to_csv('t4_bees_enter.csv', index=False)

                     time  bees_enter
2     2021-11-02 16:00:00       16.42
6     2021-11-02 15:00:00       21.62
10    2021-11-02 14:00:00       16.07
14    2021-11-02 13:00:00       11.43
18    2021-11-02 12:00:00       16.98
...                   ...         ...
1176  2021-10-19 14:00:00       22.40
1178  2021-10-19 13:00:00       16.69
1182  2021-10-19 12:00:00       11.16
1186  2021-10-19 11:00:00       11.49
1190  2021-10-19 10:00:00        9.33

[254 rows x 2 columns]

In [23]:
exit_df = df.loc[df['stream'] == 'BeesExiting']
exit_df = exit_df.drop('stream', 1)
exit_df = exit_df.rename(columns={"value":"bees_exit"})
print (exit_df)
exit_df.to_csv('t4_bees_exit.csv', index=False)

                     time  bees_exit
3     2021-11-02 16:00:00      15.42
7     2021-11-02 15:00:00      21.76
11    2021-11-02 14:00:00      16.20
15    2021-11-02 13:00:00      11.26
19    2021-11-02 12:00:00      16.74
...                   ...        ...
1177  2021-10-19 14:00:00      21.81
1179  2021-10-19 13:00:00      16.20
1183  2021-10-19 12:00:00      11.86
1187  2021-10-19 11:00:00      10.93
1191  2021-10-19 10:00:00       8.67

[254 rows x 2 columns]

In [24]:
temp_df = df.loc[df['stream'] == 'Temperature']
temp_df = temp_df.drop('stream', 1)
temp_df = temp_df.rename(columns={"value":"temperature"})
print (temp_df)
temp_df.to_csv('t4_bees_temp.csv', index=False)

                     time  temperature
0     2021-11-02 16:00:00        21.20
4     2021-11-02 15:00:00        24.20
8     2021-11-02 14:00:00        27.22
12    2021-11-02 13:00:00        30.33
16    2021-11-02 12:00:00        28.63
...                   ...          ...
1226  2021-10-18 22:00:00        31.55
1229  2021-10-18 21:00:00        31.69
1232  2021-10-18 20:00:00        32.50
1235  2021-10-18 19:00:00        30.10
1238  2021-10-18 18:00:00        21.05

[354 rows x 2 columns]

In [29]:
weight_df = df.loc[df['stream'] == 'Weight']
weight_df = weight_df.drop('stream', 1)
weight_df = weight_df.rename(columns={"value":"weight"})
print (weight_df)
weight_df.to_csv('t4_weight_t4.csv', index=False)

                     time  weight
32    2021-11-02 09:00:00    8.69
127   2021-11-01 06:00:00    7.97
160   2021-10-31 19:00:00    8.17
169   2021-10-31 17:00:00    8.45
174   2021-10-31 16:00:00    8.65
249   2021-10-30 18:00:00    8.43
254   2021-10-30 17:00:00    8.57
551   2021-10-27 05:00:00   11.37
1192  2021-10-19 10:00:00   16.95
1195  2021-10-19 09:00:00   16.98
1198  2021-10-19 08:00:00   17.03
1201  2021-10-19 07:00:00   17.07
1204  2021-10-19 06:00:00   17.09
1207  2021-10-19 05:00:00   17.07
1210  2021-10-19 04:00:00   17.06
1213  2021-10-19 03:00:00   17.05
1216  2021-10-19 02:00:00   17.05
1219  2021-10-19 01:00:00   17.09
1222  2021-10-19 00:00:00   17.11
1225  2021-10-18 23:00:00   17.12
1228  2021-10-18 22:00:00   17.21
1231  2021-10-18 21:00:00   17.29
1234  2021-10-18 20:00:00   17.25
1237  2021-10-18 19:00:00   16.89
1240  2021-10-18 18:00:00   16.60

In [26]:
hum_df = df.loc[df['stream'] == 'Humidity']
hum_df = hum_df.drop('stream', 1)
hum_df = hum_df.rename(columns={"value":"humidity"})
print (hum_df)
hum_df.to_csv('t4_bees_hum.csv', index=False)

                     time  humidity
1     2021-11-02 16:00:00     25.00
5     2021-11-02 15:00:00     25.00
9     2021-11-02 14:00:00     25.40
13    2021-11-02 13:00:00     40.75
17    2021-11-02 12:00:00     25.67
...                   ...       ...
1227  2021-10-18 22:00:00     25.00
1230  2021-10-18 21:00:00     25.00
1233  2021-10-18 20:00:00     26.00
1236  2021-10-18 19:00:00     27.00
1239  2021-10-18 18:00:00     25.00

[354 rows x 2 columns]

In [27]:
all1_df = pd.merge(weight_df, temp_df, how='inner')
all1_df

                   time  weight  temperature
0   2021-11-02 09:00:00    8.69        21.84
1   2021-11-01 06:00:00    7.97        17.73
2   2021-10-31 19:00:00    8.17        25.11
3   2021-10-31 17:00:00    8.45        28.86
4   2021-10-31 16:00:00    8.65        31.23
5   2021-10-30 18:00:00    8.43        26.54
6   2021-10-30 17:00:00    8.57        28.33
7   2021-10-27 05:00:00   11.37        18.63
8   2021-10-19 10:00:00   16.95        30.62
9   2021-10-19 09:00:00   16.98        32.77
10  2021-10-19 08:00:00   17.03        32.24
11  2021-10-19 07:00:00   17.07        31.95
12  2021-10-19 06:00:00   17.09        31.98
13  2021-10-19 05:00:00   17.07        31.99
14  2021-10-19 04:00:00   17.06        32.18
15  2021-10-19 03:00:00   17.05        31.90
16  2021-10-19 02:00:00   17.05        31.68
17  2021-10-19 01:00:00   17.09        31.47
18  2021-10-19 00:00:00   17.11        31.43
19  2021-10-18 23:00:00   17.12        31.51
20  2021-10-18 22:00:00   17.21        31.55
21  2021-10-18 21:00:00   17.29        31.69
22  2021-10-18 20:00:00   17.25        32.50
23  2021-10-18 19:00:00   16.89        30.10
24  2021-10-18 18:00:00   16.60        21.05

In [28]:
all2_df = pd.merge(all1_df, hum_df, how='inner')
all3_df = pd.merge(all2_df, enter_df, how='inner')
all4_df = pd.merge(all3_df, exit_df, how='inner')
all4_df.to_csv('all_tunn1.csv', index=False)
all4_df.head(50)

                  time  weight  temperature  humidity  bees_enter  bees_exit
0  2021-11-02 09:00:00    8.69        21.84     25.00       10.02      11.48
1  2021-11-01 06:00:00    7.97        17.73     25.00        0.44       0.53
2  2021-10-31 19:00:00    8.17        25.11     25.00        0.00       0.00
3  2021-10-31 17:00:00    8.45        28.86     25.00        3.15       1.30
4  2021-10-31 16:00:00    8.65        31.23     25.00       25.20      22.23
5  2021-10-30 18:00:00    8.43        26.54     25.00        0.42       0.22
6  2021-10-30 17:00:00    8.57        28.33     25.00       14.56      13.25
7  2021-10-27 05:00:00   11.37        18.63     25.00        0.00       0.00
8  2021-10-19 10:00:00   16.95        30.62     26.20        9.33       8.67

In [19]:
#reverse data - upside down
all5_df=all4_df.iloc[::-1]
all5_df

                  time  weight  temperature  humidity  bees_enter  bees_exit
8  2021-10-19 10:00:00   16.95        30.62     26.20        9.33       8.67
7  2021-10-27 05:00:00   11.37        18.63     25.00        0.00       0.00
6  2021-10-30 17:00:00    8.57        28.33     25.00       14.56      13.25
5  2021-10-30 18:00:00    8.43        26.54     25.00        0.42       0.22
4  2021-10-31 16:00:00    8.65        31.23     25.00       25.20      22.23
3  2021-10-31 17:00:00    8.45        28.86     25.00        3.15       1.30
2  2021-10-31 19:00:00    8.17        25.11     25.00        0.00       0.00
1  2021-11-01 06:00:00    7.97        17.73     25.00        0.44       0.53
0  2021-11-02 09:00:00    8.69        21.84     25.00       10.02      11.48

In [20]:
#reset index 
all5_df = all5_df.reset_index(drop=True)
all5_df
# write to csv REMEMBER TO CHANGE !!!!!! THE NAME FOR CSV !!!!!!! 

all5_df.to_csv('tunnel4_new2.csv', index=False)

In [113]:
#read the weather csv
#w_df=pd.read_csv('/home/t/Downloads/A_Manuka_Perth/T1/T1data_from_start/weather10_1hour.csv')
#w_df.head(3)

,Date (Australia/Perth),Tempin,Temp OUT,Chill,Dewin,Dew,Heatin,Heat,Humin (%),Hum (%),Wspdhi (m/s),Wspdavg (m/s),Wdiravg,Bar (hPa),Rain (mm),Rainrate (mm/h),Solarrad,Uvi ()
0,2021-10-17 11:00:00,24.20,18.70,18.70,nan,12.60,nan,nan,54,68,2.50,2.50,270,997.00,638.80,0.00,nan,nan
1,2021-10-17 12:00:00,27.60,19.20,19.20,nan,12.00,nan,nan,43,63,4.80,4.10,270,996.50,638.80,0.00,nan,nan
2,2021-10-17 13:00:00,29.60,20.70,20.70,nan,11.00,nan,nan,37,54,3.80,3.50,248,996.00,638.80,0.00,nan,nan

In [114]:
#ad the temperature data to all data csv 
#numbers = w_df["Temp OUT"]
#all5_df = all5_df.join(numbers)
#all5_df
#all5_df.to_csv('bees_all5.csv', index=False)

,time,weight,temperature,humidity,bees_enter,bees_exit,Temp OUT
0,2021-10-17 11:00:00,9.52,29.30,25.00,12.90,14.50,18.70
1,2021-10-17 12:00:00,11.74,31.70,25.00,13.58,14.39,19.20
2,2021-10-17 13:00:00,11.85,32.37,25.80,19.88,20.71,20.70
3,2021-10-17 14:00:00,11.79,34.46,34.50,27.40,26.63,20.70
4,2021-10-17 15:00:00,11.85,35.08,27.00,13.93,15.10,19.70
...,...,...,...,...,...,...,...
260,2021-11-01 13:00:00,15.26,34.77,27.00,21.12,20.02,15.00
261,2021-11-01 14:00:00,15.39,34.68,27.00,27.94,27.04,10.50
262,2021-11-01 15:00:00,15.29,34.24,27.00,22.91,19.39,8.00
263,2021-11-01 16:00:00,15.36,33.62,27.00,10.10,8.87,6.60
264,2021-11-01 17:00:00,15.36,33.42,27.00,5.45,4.39,8.80

In [116]:

all5_df.to_csv('tunnel2', index=False)